
<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header box-border h-32 w-32 p-4 border-4">
        {{!-- Header stuff goes here --}}
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <div class="resources grid grid-2col">{{!-- resources here --}}</div>
            <div class="abilities grid grid-3col">{{!-- abilities here --}}</div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="default">Stats</a>
    <a class="item" data-tab="primaryskills">Primary Skills</a>
    <a class="item" data-tab="secondaryskills">Secondary Skills</a>
    <a class="item" data-tab="settings">Settings</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
         <div class="tab items" data-group="primary" data-tab="default">

      {{> "systems/rolemaster/templates/partials/stats.hbs" data=data}}
    </div>

    <div class="tab items" data-group="primary" data-tab="primaryskills">
      <p>Primary</p>
    </div>

    <div class="tab items" data-group="primary" data-tab="secondaryskills">
      <p>Secondary</p>
    </div>

    <div class="tab items" data-group="primary" data-tab="settings">
      <div class="resources grid grid-2col">
        <div class="resource flex-group-center">
          <label for="data.rmceId" class="resource-label">
            RMCEID
          </label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.rmceId" value="{{data.rmceId}}" data-dtype="String" />
          </div>
        </div>
      </div>
    </div>

    </section>
</form>

