<div class="grid grid-6col">

  <div class="resource flex-group-left">
    <label for="data.character.campaign" class="resource-label">Campaign</label>
    <div class="resource-content flexrow flex-left flex-between">
      {{data.character.campaign}}
      <spam></spam>
    </div>
  </div>

  <div class="resource flex-group-left">
    <label for="data.character.level" class="resource-label">Level</label>
    <div class="resource-content flexrow flex-left flex-between">
      {{data.character.level}}
    </div>
  </div>

  <div class="resource flex-group-left">
    <label for="data.character.className" class="resource-label">Class</label>
    <div class="resource-content flexrow flex-left flex-between">
      {{data.character.className}}
    </div>
  </div>

  <div class="resource flex-group-left">
    <label for="data.character.age" class="resource-label">Age</label>
    <div class="resource-content flexrow flex-left flex-between">
      {{data.character.age}}
    </div>
  </div>

  <div class="resource flex-group-left">
    <label for="data.character.raceName" class="resource-label">Race</label>
    <div class="resource-content flexrow flex-left flex-between">
      {{data.character.raceName}}
    </div>
  </div>



  <div class="resource flex-group-left">
    <label for="data.character.eyeColor" class="resource-label">Eye\Hair Color</label>
    <div class="resource-content flexrow flex-left flex-between">
      {{data.character.eyeColor}} \ {{data.character.hairColor}}
    </div>
  </div>



  <div class="resource flex-group-left">
    <label for="data.character.apperance" class="resource-label">Gender\Apperance</label>
    <div class="resource-content flexrow flex-left flex-between">
       {{data.character.gender}} \ {{data.character.apperance}}
    </div>
  </div>


  <div class="resource flex-group-left">
    <label for="data.character.hits1" class="resource-label">Hits</label>
    <div class="resource-content flexrow flex-left flex-between">
      {{data.character.hits1}}
    </div>
  </div>

  <div class="resource flex-group-left">
    <label for="data.character.move" class="resource-label">Move</label>
    <div class="resource-content flexrow flex-left flex-between">
      {{data.character.move}}
    </div>
  </div>

  <div class="resource flex-group-left">
    <label for="data.character.socialStatus" class="resource-label">Social Status</label>
    <div class="resource-content flexrow flex-left flex-between">
      {{data.character.socialStatus}}
    </div>
  </div>

  <div class="resource flex-group-left">
    <label for="data.character.height" class="resource-label">Height\Weight</label>
    <div class="resource-content flexrow flex-left flex-between">
      {{data.character.height}} \ {{data.character.weight}}
    </div>
  </div>


</div>
